<mat-drawer-container class="home-container">
  <mat-drawer mode="side" opened class="home-drawer">
    <mat-list>
      <div mat-subheader class="heading">Lists</div>
      <mat-list-item *ngFor="let list of lists">
        <button mat-button class="home-list-item-btn" (click)="onListItemClick(list)" >
          <mat-icon>checklist</mat-icon>{{ list.name }}
        </button>
      </mat-list-item>
      <mat-list-item>
        <app-create-list (newItemEvent)="addItem($event)"></app-create-list>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="home-content">
    <app-list [listId]="selectedListId" (editListEvent)="onEditList($event)" (removeListEvent)="onRemoveList($event)" *ngIf="selectedListId"></app-list>
  </mat-drawer-content>
</mat-drawer-container>
