<div class="list-header">
  <div class="list-heading">
    <h2>{{list.name}}</h2>
  </div>
  <div class="list-actions">
    <button mat-button color="accent"  (click)="onEditList()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-button color="warn" (click)="onRemoveList()">
      <mat-icon>delete</mat-icon>
      Remove
    </button>
  </div>

</div>
<div class="todo-actions-container">
  <button mat-button color="primary" [disabled]="!selectedTodos.length" (click)="onClickToggle()">
    Toggle
  </button>

  <button mat-button color="primary" (click)="onClickAddTodo()">
    <mat-icon>add</mat-icon>
    Add
  </button>

  <button mat-button color="accent" [disabled]="!selectedTodos.length" (click)="onClickUpdateTodo()">
    <mat-icon>edit</mat-icon>
    Edit
  </button>

  <button mat-button color="warn" [disabled]="!selectedTodos.length" (click)="onClickRemoveTodo()">
    <mat-icon>delete</mat-icon>
    Remove
  </button>

</div>

<div *ngIf="list.todos && list.todos.length">
  <mat-selection-list id="todo-list" [multiple]="false" (selectionChange)="onSelectionChange($event)">
    <ng-container *ngFor="let todo of list.todos">
      <mat-list-option [value]="todo" class="todo-list-item">
        <span matListItemTitle [ngClass]="{'strikethrough': todo.isDone }">{{todo.title}}</span>
        <span matListItemLine>{{todo.detail}}</span>
      </mat-list-option>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-selection-list>
</div>


